__pycache__/
*.py[cod]
*$py.class

# Default cache/output directory
.ntdissector/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
